In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
from word2number import w2n

In [4]:
data=pd.read_csv("C:\\Users\ILAKIYA\Downloads\hiring.csv")

In [5]:
print(data)

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [7]:
pip install word2number

Collecting word2number
  Downloading word2number-1.1.zip (9.7 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: word2number
  Building wheel for word2number (setup.py): started
  Building wheel for word2number (setup.py): finished with status 'done'
  Created wheel for word2number: filename=word2number-1.1-py3-none-any.whl size=5567 sha256=63eeafaf2ff7b88ec5e464fbd78dd30136f9339ca5ab2559a038602610542ff3
  Stored in directory: c:\users\ilakiya\appdata\local\pip\cache\wheels\a0\4a\5b\d2f2df5c344ddbecb8bea759872c207ea91d93f57fb54e816e
Successfully built word2number
Installing collected packages: word2number
Successfully installed word2number-1.1
Note: you may need to restart the kernel to use updated packages.

In [17]:
x=data["test_score(out of 10)"].mean()
data.fillna({"test_score(out of 10)":round(x)},inplace=True)

In [15]:
data["experience"] = data["experience"].apply(lambda x: w2n.word_to_num(x) if pd.notnull(x) else x)

In [18]:
data

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0         NaN                    8.0                           9      50000
1         NaN                    8.0                           6      45000
2         5.0                    6.0                           7      60000
3         2.0                   10.0                          10      65000
4         7.0                    9.0                           6      70000
5         3.0                    7.0                          10      62000
6        10.0                    8.0                           7      72000
7        11.0                    7.0                           8      80000

In [27]:
data["experience"]=data["experience"].apply(lambda x: 0.0 if not pd.notnull(x) else x)

In [28]:
print(data)

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0         0.0                    8.0                           9      50000
1         0.0                    8.0                           6      45000
2         5.0                    6.0                           7      60000
3         2.0                   10.0                          10      65000
4         7.0                    9.0                           6      70000
5         3.0                    7.0                          10      62000
6        10.0                    8.0                           7      72000
7        11.0                    7.0                           8      80000

data

In [31]:
reg=linear_model.LinearRegression()

In [33]:
reg.fit(data[["experience","test_score(out of 10)","interview_score(out of 10)"]],data["salary($)"])

LinearRegression()

In [34]:
reg.predict([[5,5,5]])

C:\Users\ILAKIYA\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([52056.76855895])

In [38]:
reg.predict([[11,10,10],[1,5,8],[2,5,8],[1,0,0],[0,0,0],[11,9,5]])

C:\Users\ILAKIYA\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([89189.22852984, 47420.66957787, 50233.62445415, 20550.21834061,
       17737.26346434, 76317.3216885 ])